<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'login'%>

</head>
<body>
<div class="tudo">



<div class="box">
  <h1>Registrar</h1>
  <%= form_with model: other, local: true, url: another do |user| %>
    <input type="text" placeholder="Nome" class="field" <%= user.text_field :name, required: true %>
    
    <input type="email" placeholder="Email" class="field" <%= user.email_field :email, required: true %>

      <input type="email" placeholder="Email" class="field" <%= user.email_field :email, required: true %>

      <input type="date" placeholder="Data de Nascimento" class="field" <%= user.date_field :birthday, required: true %>

      <input type="password" placeholder="Senha" class="field" <%= user.password_field :password %>

      <input type="password" placeholder="Confirmar senha" class="field"<%= user.password_field :password_confirmation %>

      <%= user.submit "Cadastrar" %>
  <% end %>
  </div>

  <style>
  .site-footer{
    display: none;
  }
  .tudo{
    margin-top: -4.5%
  }
  </style>
</div>
</body>
</html>