<h1>Cadastrar Usuário</h1>

<%= form_with model: @user do |user| %>
  <div class="field">
    <%= user.label :name, 'Nome' %>
    <%= user.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= user.label :email, 'Email' %>
    <%= user.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= user.label :password, 'Senha' %>
    <%= user.password_field :password, required: true %>
  </div>

  <div class="actions">
    <%= user.submit "Cadastrar" %>
  </div>
<% end %>

<%= link_to "Home", root_path  %>