<h1>Seu Perfil</h1>

<div>
  <p>
    <strong>Nome</strong><br>
    <%= current_user.name %>
  </p>

  <p>
    <strong>E-mail</strong><br>
    <%= current_user.email %>
  </p>

  <p>
    <strong>Dinheiro</strong><br>
    <%= current_user.money %>
    <%= link_to 'Adicionar Fundos', money_path %>
  </p>
</div>

<% if current_user.admin %>
  <%= link_to "Ver Produtos", products_path  %>
  <%= link_to "Ver Tipos de Bebida", drink_types_path  %>
<% else %>
  <%= link_to "Seu Carrinho", cart_path %>
<% end %>
