<h1>Seu Perfil</h1>

<div>
  <p>
    <strong>Nome</strong><br>
    <%= current_user.name %>
  </p>

  <p>
    <strong>E-mail</strong><br>
    <%= current_user.email %>
  </p>

  <p>
    <strong>Dinheiro</strong><br>
    <%= current_user.money %>
    <%= link_to 'Adicionar Fundos', money_path %>
  </p>
  <strong>Endereços</strong><br>
  <table>
    <thead>
    <tr>
      <th>CEP</th>
      <th>Endereço</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% current_user.address.each do |address| %>
      <% if address.erased == false%>
        <tr>
          <td><%= address.cep %></td>
          <td><%= address.address %></td>
          <td><%= link_to 'Detalhes', address_path(address) %></td>
          <td> <%= link_to 'Editar', edit_address_path(address) %> </td>
          <td> <%= link_to 'Deletar', address_path(address), method: :delete, data: { confirm: 'Você tem certeza?' } %> </td>
        </tr>
      <% end %>
    <% end %>

    </tbody>
  </table>
  <%= link_to 'Adicionar Endereço', new_address_path %> <br>
</div>


<% if current_user.admin %>
  <%= link_to "Ver Produtos", products_path  %>
  <br>
  <%= link_to "Ver Tipos de Bebida", drink_types_path  %>
<% else %>
  <%= link_to "Seu Carrinho", cart_path %>
  <%= link_to 'Compras Antigas', purchases_index_path %>
<% end %>
