<body>
  <%= stylesheet_link_tag 'cart' %>
  <div clas="tudo">
  <% if not @cart.products == [] %>
    <div class='container boxNot'>
      <h1>Seu carrinho:</h1>
        <div class="row col-14">
          <div class="col-2">Foto</div>
          <div class="col">Nome</div>
          <div class="col-2">Quantidade</div>
          <div class="col-2">Estoque</div>
          <div class="col-2">Custo</div>
          <div class="col">Alterar quantidade</div>
          <div class="col"></div>
        </div>
      <% @cart.purchase_products.each do |product| %>
        <tr>
          <div class="row media">
            <div class="col-2 foto">
                <%= image_tag product.product.photo, width: '100px', height: '130px'%>
            </div>

            <div class="row media-body">
            
            <div class="col">
              <h5 class="mt-0"><%= product.product.name.capitalize %></h5>
            </div>

            <div class="col">

              <% if product.product.quantity.to_i < product.quantity.to_i %>
                <div style="color: red">
                  <%= product.quantity.to_i %>
                </div>
              <% else %>
                <div>
                  <%= product.quantity.to_i %>
                </div>
              <% end %>

            </div>

            <div class="col">

              <%= product.product.quantity.to_i %><br>
            
            </div>


            <div class="col">
                R$<%= product.product.value * product.quantity.to_i %><br>
            </div>

            <%= form_with url: update_path(product.id), local:  true do |update| %>

              <div class="col">
                  <div class="field">
                    <%= update.text_field :quantity, value: product.quantity.to_i, class: "alterando" %>
                  </div>

                  <div class="actions">
                    <%= update.submit 'Alterar' %>
                  </div>
              </div>

            <% end %>


            <div class="col">
              <%= link_to 'Remover', buy_path(product.id), method: :delete %>
            </div>
              </div>
            </div>
        </tr>
      <% end %>
      </tbody>
      </table>
      <h4>Total: <%= number_to_reais(@cart.price) %></h4>

      <%= form_with url: cart_path, method: 'post' do |form| %>

        <div class="field">
          <%= form.label :address_id, 'Endereços' %>
          <%= form.collection_select(:address_id, @user_addresses, :id, :address) %>
        </div>

        <div class="actions">
          <%= form.submit "Finalizar essa compra" %>
        </div>
      <% end %>
    </div>
</div>

  <% else %>
    <div class='boxYes'>
    <h3>Seu carrinho está vazio! Veja nossos produtos <%= link_to 'aqui', root_path %></h3>
    </div>
  <% end %>
  </div>
</body>