<% if not @cart.products == [] %>

  <h1>Seu carrinho:</h1>
  <% @cart.purchase_products.each do |product| %>
    <div class="media">
      <%= image_tag product.product.photo %>
      <div class="media-body">

        <h5 class="mt-0"><%= product.product.name.capitalize %></h5>

        <% if product.product.quantity < product.quantity %>
          <div style="color: red">
            Quantidade: <%= product.quantity %>
          </div>
        <% else %>
          <div>
            Quantidade: <%= product.quantity %>
          </div>
        <% end %>

        Disponível: <%= product.product.quantity %><br>

        <%= form_with url: update_path(product.id), local:  true do |update| %>
          Custo: <%= product.product.value * product.quantity %><br>
          <div class="field">
            <%= update.label :quantity, 'Altere a quantidade:' %>
            <%= update.text_field :quantity, value: product.quantity %>
          </div>

          <div class="actions">
            <%= update.submit 'Alterar' %>
          </div>

        <% end %>
        <%= link_to 'Remover', buy_path(product.id), method: :delete %>
        </div>
      </div>
  <% end %>
  <h4>Total: <%= number_to_reais(@cart.price) %></h4>

  <%= form_with url: cart_path, method: 'post' do |form| %>

    <div class="field">
      <%= form.label :address_id, 'Endereços' %>
      <%= form.collection_select(:address_id, current_user.address.all, :id, :address) %>
    </div>

    <div class="actions">
      <%= form.submit "Finalizar essa compra" %>
    </div>
  <% end %>

<% else %>
  <h3>Seu carrinho está vazio! Veja nossos produtos <%= link_to 'aqui', root_path %></h3>
<% end %>
