<% if not @purchase.products == [] %>
  <h1>Seu carrinho:</h1>
  <% @purchase.purchase_products.each do |product| %>
    <div class="media">
      <%= image_tag product.product.photo %>
      <div class="media-body">
        <h5 class="mt-0"><%= product.product.name.capitalize %></h5>
        Quantidade: <%= product.quantity %>
      </div>
    </div>
  <% end %>
  <h4>Total: <%= number_to_reais(@purchase.price) %></h4>
  <%= link_to 'Voltar', purchases_index_path %>
<% else %>
  <h3>Você ainda não realizou uma compra! Comece agora clicando <%= link_to 'aqui', root_path %></h3>
<% end %>