<%= javascript_include_tag 'Mask' %>

<%= form_with model: @address do |form| %>
    <div class="field">
      <%= form.label :cep, 'CEP' %>
      <%= form.text_field :cep, class: 'cep' %>
    </div>

    <div class="field">
      <%= form.label :address, 'Endereço' %>
      <%= form.text_field :address %>
    </div>


    <div class="actions">
      <%= form.submit "Confirmar" %>
    </div>
<% end %>