<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'product_form'%>

</head>
<body>

<div class="box">
  <h1><%= @page_title %></h1>
  <%= form_with model: @product do |form| %>
      <input type="text" placeholder="Nome" class="field" <%= form.text_field :name, required: true %>

      <input type="number" placeholder="Valor (R$)" class="field" <%= form.number_field :value, min: 0, step: 0.01, required: true %>

      <input type="number" placeholder="Volume (ml)" class="field" <%= form.number_field :volume, min: 0, step: 1, required: true %>

      <input type="number" placeholder="Quantidade" class="field" <%= form.number_field :quantity, min: 0, step: 1, required: true %>

      <%= form.collection_select :drink_type_id, @drink_types, :id, :name, {:include_blank => "Tipo de Bebida"}, required: true %>

      <textarea type="text_area" placeholder="Descrição do Produto" class="field" <input type="text" placeholder="Nome" class="field" <%= form.text_area :description %>
      
      <!-- Label acts as a button to file input, while it stays hidden on page -->
      <label id="file-label" for="file-select">Selecionar Imagem</label>
      <input id="file-select" type="file" placeholder="Imagem" class="field" <%= form.file_field :photo %>
    
      <%= form.submit "Confirmar" %>
  <% end %>
</div>

<script>
  $( document ).on('turbolinks:load',function(){
    var filepath = document.getElementById('file-select');
    var filelabel = document.getElementById('file-label');
    
    filepath.addEventListener('change', function(){
      var filename = (this.value).split(/(\\|\/)/g).pop()
      filelabel.innerHTML = filename;
    })
  });
</script>

</body>
</html>
