<!doctype html>
<html lang="en">

<%= stylesheet_link_tag 'card' %>
<%= javascript_include_tag 'carousel' %>

  <body>
    <h1>Nossos Produtos</h1>
    <%= form_with url: search_url, method: 'get', local: true do |search| %>
      <div class="field">
        <%= search.label :search, 'Nome do produto' %>
        <%= search.text_field :search %>
      </div>

      <div class="field">
        <%= search.label :type, 'Filtros:' %>
        <%= search.select :price, options_for_select([['Faixa de preço', '0'],
                                                    ['Menos de 25 reais','0-25'],
                                                    ['Entre 25 e 50 reais','25-50'],
                                                    ['Entre 50 e 100 reais','50-100'],
                                                    ['Mais de 100 reais','100-MAX']]) %>
        <%= search.select :type, options_for_select((@drink_types.collect { |drink_type| [drink_type.name, drink_type.id] }) << ['Tipo de Bebida', '0'], 0) %>
      </div>

      <div class="actions">
        <%= search.submit 'Pesquisar' %>
      </div>
    <% end %>
    

<h2 style="display: flex; justify-content:center; color: red; padding: 4% 0%;">Principais Produtos</h2>

<div class="owl-carousel owl-theme">
    <% @records.where(favorite: 'yes').each do |product| %>

  <section id="produtos" class="produtos-section">
  <div class="produtos-grid">
  <div class="product">
    <div class="imgbox">
      <%= image_tag product.photo, top: '30px', width: '90%', height: '80%'%>
    </div>
    <div class="specifice">
      <h2><%= product.name.capitalize %></h2>
      <div class="price"><%= number_to_reais(product.value) %></div>
      <a href="<%= product_path(product.id) %>">Saiba mais</a>
    </div>
</div>

    
  </div>
</section>
  <% end %>

</div>



<!-- START PROJECTS SECTION -->

<section id="produtos" class="produtos-section">
  <div class="produtos-grid">
  <% @records.each do |product| %>
  <div class="product">
    <div class="imgbox">
      <%= image_tag product.photo, top: '30px', width: '90%', height: '80%'%>
    </div>
    <div class="specifice">
      <h2><%= product.name.capitalize %></h2>
      <div class="price"><%= number_to_reais(product.value) %></div>
      <a href="<%= product_path(product.id) %>">Saiba mais</a>
    </div>
</div>

  <% end %>
    
  </div>
</section>

<!-- END PROJECTS SECTION -->

  <div style="display: flex; justify-content: center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  </body>
</html>

