<!doctype html>
<html lang="en">

<%= stylesheet_link_tag 'card' %>
<%= javascript_include_tag 'carousel' %>

  <body>
    
<h2 style="display: flex; justify-content:center; color: red; padding: 4% 0%;">Principais Produtos</h2>

<div class="owl-carousel owl-theme">
    <% @records.where(favorite: 'yes').each do |product| %>

  <section id="produtos" class="produtos-section">
  <div class="produtos-grid">
  <div class="product">
    <div class="imgbox">
      <% if product.photo.attached? %>
        <%= image_tag product.photo, top: '30px', width: '90%', height: '80%'%>
      <% else %>
        <%= image_tag asset_path('image-not-found.png'), top: '30px', width: '90%', height: '80%'%>
      <% end %>
    </div>
    <div class="specifice">
      <h2><%= product.name.capitalize %></h2>
      <div class="price"><%= number_to_reais(product.value) %></div>
      <a href="<%= product_path(product.id) %>">Saiba mais</a>
    </div>
</div>

    
  </div>
</section>
  <% end %>

</div>



<!-- START PROJECTS SECTION -->

<section id="produtos" class="produtos-section">
  <div class="produtos-grid">
  <% @records.each do |product| %>
  <div class="product">
    <div class="imgbox">
      <% if product.photo.attached? %>
        <%= image_tag product.photo, top: '30px', width: '90%', height: '80%'%>
      <% else %>
        <%= image_tag asset_path('image-not-found.png'), top: '30px', width: '90%', height: '80%'%>
      <% end %>
    </div>
    <div class="specifice">
      <h2><%= product.name.capitalize %></h2>
      <div class="price"><%= number_to_reais(product.value) %></div>
      <a href="<%= product_path(product.id) %>">Saiba mais</a>
    </div>
</div>

  <% end %>
    
  </div>
</section>

<!-- END PROJECTS SECTION -->

  <div style="display: flex; justify-content: center">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  </body>
</html>

