<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'login'%>

  </head>
  <body>


<div class="box">
  <h1>Login</h1>
<%= form_with url: :login, method: :post do |f| %>
  <input type="email" placeholder="Username" class="field" <%= f.email_field :email %>>

  <input type="password" placeholder="Password" class="field" <%= f.password_field :password %>>

  <%= f.submit 'Login' %>
<% end %>
</div>

  </body>
</html>

