<%= form_with model: @drink_type, local: true do |form| %>
    <div class="field">
      <%= form.label :name, 'Nome' %>
      <%= form.text_field :name %>
    </div>
  
    <div class="field">
      <%= form.label :alcoholic?, 'Bebida Alcoolica?' %>
      <%= form.check_box :alcoholic? %>
    </div>
  
    <div class="actions">
      <%= form.submit "Confirmar" %>
    </div>
<% end %>