<%= stylesheet_link_tag 'drink_types' %>

<h1 class="text-center" >Tipos de Bebidas Disponíveis</h1>

<table>
  <thead>
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Alcoólica?</th>
    <th scope="col">Ações</th>
  </tr>
  </thead>

  <tbody>
  <% @drink_types.each do |drink_type| %>
    <tr>
      <td><%= drink_type.name %></td>
      <td><%= human_boolean(drink_type.alcoholic) %></td>
      <td>
        <%= link_to edit_drink_type_path(drink_type) do %>
          <button class="action-button"><i class="fa fa-pencil-square-o"></i></button>
        <% end %>
        <%= link_to drink_type_path(drink_type), method: :delete, data: { confirm: 'Você tem certeza?' } do %>
          <button class="action-button"><i class="fa fa-trash-o"></i></button>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th><%= link_to 'Novo Tipo de Bebida', new_drink_type_path %></th>
    </tr>
  </tfoot>
</table>
