<!DOCTYPE html>
<html>
  <head>
    <title>RessacaTrainee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'navbar'%>
    <%= stylesheet_link_tag 'footer'%>

    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  </head>

<body>
<div class="geral">
  <div class="nav">
    <div class="logo">
      <a href="<%= root_path %>"><h5> {Ressaca Trainee} </h5></a>
    </div>
    <ul class="nav-links">
      <li><a href="javascript: abrir();"> <i class="fa fa-2x fa-search"></i></a></li>
      <li><a href="<%= root_path %>"><i class="fa fa-home fa-2x"></i></a></li>
        <% if current_user %>
          <li><a href="<%= perfil_user_path%>"><i class="fa fa-2x fa-user"></i></a></li>
          <li><%= link_to '<i class="fa fa-2x fa-sign-out"></i>'.html_safe,logout_path, method: :post %></li>
          <li><a href="<%= cart_path %>"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
        <% else %>
          <li><a href="<%= new_user_path %>"><i class="fa fa-2x fa-user-plus"></i></a></li>
          <li><a href="<%= '/user/login' %>"><i class="fa fa-2x fa-sign-in"></i></a></li>
        <% end %>
    </ul>
    </div>


    <!-- Pop-up -->
    <div class="modal fade" id="Pop-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <% flash.each do |type, msg| %>
              <% if type == 'notice' %>
                <div style="color: green">
                  <%= msg %>
                </div>
              <% elsif type == 'warning'%>
                <div style="color: red">
                  <%= msg %>
                </div>
              <% end %>

            <% end %>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

     <!--Renderiza o pop-up quando chega um notice-->
    <% flash.each do |type, msg| %>
      <%= javascript_tag "ShowPopup()" %>
    <% end %>

    <%= yield %>
    </div>

      <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-5">
            <h6>Desenvolvido por:</h6>
            <p class="text-justify">André Macedo<br>Arthur Mota<br>Felipe Lima<br>Fernando Jorge</p>
          </div>

          <div class="col-xs-6 col-md-5">
            <h6>Linguagens:</h6>
            <ul class="footer-links">
              <li><a href="#">Ruby</a></li>
              <li><a href="#">Javascript</a></li>
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
            </ul>
          </div>

          <div class="col-xs-6">
            <h6>Links:</h6>
            <ul class="footer-links">
              <li><a href="https://github.com/Nandosts/Ressaca-trainee">Repositório Github</a></li>
              <li><a href="http://www.struct.unb.br/">Empresa Júnior</a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
  </body>
</html>
