<!DOCTYPE html>
<html>
  <head>
    <title>RessacaTrainee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav">
      <% if current_user %>
        <%= link_to "Edit Profile", edit_users_path(current_user.id) %>
        <%= link_to "Logout", :logout, method: :post %>
      <% else %>
        <%= link_to "Register", new_users_path %>
        <%= link_to "Login", '/user/login' %>
      <% end %>
    </div>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
